body {
    height:1000px;
    width:100%;
    background-color:#eee;
}
.header {
    width:100%;
    height:100px;
    background: #777;
    color: #fff;
    position:fixed;
    top:0;
    left:0;
    font-size: 40pt;
    transition: height 500ms, background 500ms, font-size 500ms;
}
.header.tiny {
    height:80px;
    background: #555;
    font-size: 30pt;
}

.header.supertiny {
    height:40px;
    background: #333;
    font-size: 10pt;
}

#wrapper {
    margin-top: 100px;
    transition: margin-top 500ms;
}

#wrapper.tiny {
    margin-top: 80px;
}

#wrapper.supertiny {
    margin-top: 40px;
}
